{{define "navbar.html.tmpl"}}
<nav class="navbar navbar-default navbar-inverse navbar-fixed-bottom">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Vuldog</a>
    </div>
  </div>
</nav>
{{end}}
