{{define "search.html.tmpl"}}
<!DOCTYPE html>
<html lang="en">
  <head>
    {{template "header_common.tmpl"}}
  </head>
  <body style="padding-bottom: 70px;">
    {{template "navbar.html.tmpl"}}
    <div class="container">
      <form class="form-inline">
        <div class="form-group">
          <label for="vendor">Vendor</label>
          <input type="" name="" value="" type="text" class="form-control" id="vendor" placeholder="">
        </div>
        <div class="form-group">
          <label for="product">Product</label>
          <input type="" name="" value="" type="text" class="form-control" id="product" placeholder="">
        </div>
      </form>
    </div>
  </body>
</html>
{{end}}
